{% extends 'base.html' %}
{% block title %} envois message {% endblock %}



{% block content %}



<div class="container mb-5">
    <form method="POST" class="card p-3 mt-2 myform" action="{% url 'envoyer_message' %}" autocomplete="off"> 
              {% csrf_token %}
        <div class="row">
            <div class="col-12">
                    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"> Numero destinateaire</label>
                        <input type="text" name="destinataire" class="form-control" id="exampleFormControlInput1" placeholder="+22677505873">
                      </div>
                      
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"> Message à envoyé </label>
                        <textarea class="form-control"  name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>   
        </div>

            <div class="mt-2">
                    <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
                        <i class="fas fa-plus"></i>&nbsp;&nbsp; Envoyer
                    </button>
            </div> 
    </form>
</div>



{% endblock content %}
